
/* Navbar */

@media (max-width: 850px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line{
        width: 30px;
        height: 3px;
        background-color: var(--items-color);
        margin: 6px 0;
        margin-right: 10px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .nav-bar {
        position: absolute;
        height: 0px;
        top: 80px;
        z-index: 99;
        background-color: var(--back-color);
        width: 100vw;
        left: 0;
        right: 0;
        transition: var(--large-duration);
        -webkit-transition: var(--large-duration);
        -moz-transition: var(--large-duration);
        -ms-transition: var(--large-duration);
        -o-transition: var(--large-duration);
        overflow: hidden;
    }
    
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0;
        text-align: center;
        transition: var(--large-duration);
        -webkit-transition: var(--large-duration);
        -moz-transition: var(--large-duration);
        -ms-transition: var(--large-duration);
        -o-transition: var(--large-duration);
        opacity: 0;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}
