.scroll-up{
    position: fixed;
    right: 20px;
    bottom: 10px;
    background-color: var(--secondry-color);
    z-index: 1000;
    color: var(--items-color);
    padding: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: var(--large-duration);
    -webkit-transition: var(--large-duration);
    -moz-transition: var(--large-duration);
    -ms-transition: var(--large-duration);
    -o-transition: var(--large-duration);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.show{
    opacity: 1;
}

.scroll-up:hover{
    background-color: var(--hover-color);
}