
.slider-wrapper{
    position: relative;
    margin: 0 auto;
}

.slider {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    scroll-behavior: smooth;
    height: calc(100vh - 80px);
    margin: 0 auto;
}

.slide{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    justify-content: space-between;
    height: calc(100vh - 80px);
    gap: 20px;
    padding: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.slide img{
    width: 90%;
    height: 90%;
    align-self: flex-end;
    justify-content: center;
}

.slide .slide-data{
    align-self: center;
    padding: 10px;
}

.slide-data h2{
    font-size: 3.5em;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Dancing Script';
    color: var(--hover-color);
}

.slide-data q{
    display: block;
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 10px;
}

.slide-data p{
    font-size: 0.9rem;
    color: #747474;
    margin-bottom: 30px;
}

.slide-data .explore{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--secondry-color);
    color: var(--items-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 1.1rem;
    transition: all ease var(--mid-duration);
    -webkit-transition: all ease var(--mid-duration);
    -moz-transition: all ease var(--mid-duration);
    -ms-transition: all ease var(--mid-duration);
    -o-transition: all ease var(--mid-duration);
}

.slide-data .explore:hover{
    background-color: var(--hover-color);
}

.slide-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 1;
}

.slide-nav a{
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 30%;
    background-color: #c4cecf;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}


.slide-nav a:hover{
    background-color: var(--secondry-color);
}

.slide-nav a.active{
    background-color: var(--secondry-color);
    transform: translateY(-3px) ;
    -webkit-transform: translateY(-3px) ;
    -moz-transform: translateY(-3px) ;
    -ms-transform: translateY(-3px) ;
    -o-transform: translateY(-3px) ;
}

/* @media (min-width: 771px){
    .slide-data {
        text-align: justify;
    }
    
}

@media (max-width: 900px){
    .slide-data h2{
        font-size: 2rem;
    }
    .slide-data q{
        font-size: 1rem;
    }
    .slide-data p{
        font-size:0.8rem;
    }

    .slide-data h2, 
    .slide-data p, 
    .slide-data q {
        text-align: center;
    } 
    
    .slide img{
        width: 80%;
    }

    .slider{
        padding: 0;
        place-items: center;
    }

    .slide {
        padding: 0;
    }

    .slide-data {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px;
    }
}

@media (max-width: 768px){

    .slider{
        padding: 0;
        place-items: center;
    }

    .slide {
        padding: 0;
        grid-template-columns: 1fr;
    }

    .slide-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .slide .image{
        display: none;
    }

} */

@media (max-width: 768px){
    .slide-data h2{
        font-size: 2rem;
    }
    .slide-data q{
        font-size: 1rem;
    }
    .slide-data p{
        font-size:0.8rem;
    }
    .slider{
        padding: 0;
        place-items: center;
    }

    .slide {
        padding: 0;
        text-align: center;
    }
}