

.nav-bar ul li #about::before{
    width: 100%;
}

.about{
    display: flex;
}

.about-details {
    margin-top: 50px;
    width: 100%;
}

.about-details .details{
    margin-top: 20px;
}

.about-details .details h3{
    color: var(--back-color);
    margin-bottom: 5px;
}

.about-details .details p{
    color: #979797;
    text-align: justify;
    padding-left: 30px;
}

.about-details .web-name{
    color: var(--back-color);
    text-align: center;
    font-size: 2rem;
    font-family: 'Averia Sans Libre';
}

.web-name .name span{
    color: rgb(11, 151, 151);
}

.web-name .name{
    letter-spacing: 3px;
    
}

.section-title {
    margin-top: 0;
}

.serv .row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 50px auto;
}

@media (max-width: 1000px){
    .about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-details{
        margin-top: -20px;
        margin-bottom: 20px;
    }

}

@media (max-width: 500px){
    .about .about-img img{
        width: 280px;
    }

    .about-details .details p{
        padding: 0;
    }
}